PORT=8080
CLIENT_URL=http://localhost:5173

POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_URL=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=

BREVO_API_KEY=
MAIL_FROM_EMAIL=
MAIL_FROM_NAME=

NODE_ENV=
